// == brand
// -------------------------
//

.brand-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}

.brand-introduce {
    .brand-title {
        padding-left: 20px;
    }
}