
.str_font{
	font-weight:bold;
	color: #000;
	font-size: 16px;
	}

.sp_str_font{
	color: #000;
	font-size: 22px;
	height:60px;
	line-height:60px;
	width: 190px;
	border:1px #CCC solid;
	margin-left:-16px;
	text-align:center

	}

.sp_img{

	height:10.29px;
	width:20.57px;
	margin-left: 35px;
	

}
.sp_menu{
	list-style: none; 
	margin-left: -50px;
	background-color:#f8f8f8;
	padding-bottom: 15px;
	padding-top: 15px;
	width:190px;
	border-left:1px #CCC solid;
	border-right: 1px #CCC solid;
	margin-left: -16px;
	line-height: 30px;
	margin-bottom: -2px;


}
.sp_menu1{
	list-style: none; 
	margin-left: -50px;
	background-color:#f8f8f8;
	padding-bottom: 15px;
	padding-top: 15px;
	width:190px;
	border-left:1px #CCC solid;
	border-right: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	margin-left: -16px;
	line-height: 30px;
	margin-bottom: -2px;


}
.sp_font{

	font-weight:bold;
	color: #000;
	font-size: 22px;
	line-height:60px;
	height:60px;
	border-bottom: 3px solid #343434;
}
.sp_gu_tr{
    line-height:110px;

}
a:hover{
color:#ff4e70;
text-decoration:none;
font-weight:bold;
}
.str{
	padding-top:20px;
	
}
.sp_Line_img{
   height:2px;
   width:60px;
}
.sp_Line{
	height:2px;
	width:50px;
}
.sp_gu{
	line-height:20px;
	padding-left:5px;
	margin-left: 10px;

}
.sp_title_m{
	margin-top:30px;
}
.sp_title_m1{
	margin-top:80px;
}
.sp_gu_title{
	font-weight:bold;
	color:#f44667;
	font-size: 18px;
}
.sp_gu_title_ol{
    line-height:30px; 
    margin-top:30px;

}
.sp_gu_title5{
	line-height:30px; 
	margin-left:-20px;
}
.sp_gu_title_font{
	font-weight:bold;
	color:#000;
}
.sp1{

	background-color: #fff;
}