.glshdz{
	
 border-bottom: 2px solid #f0f0f0;
 height: 50px;
 
}
.gl_address{
 border:2px dashed #ff3366;
 width: 420px;
 height: 200px;
 margin-top: 25px;
 a{
	color: #519ef1;	 
 }
  }
 .gl_address1{
 border:2px dashed #9c9c9c;
 width: 420px;
 margin-top: 25px;
 height: 200px;
	  a{
	color: #519ef1;	 
 }
  }

.address_left{
	text-align:left;
}

.address_right{
	text-align:right;
}