.glshdz_edit{
	 border-bottom: 2px solid #f0f0f0;
	 height: 50px;
	 line-height:60px;

}
.glshdz_edit_font{
	color:#f04869;
}
.glshdz_edit_img{
	float:right;
	margin-top:-2px;
	margin-right:-2px;
}
.glshdz_edit_tr{
	height:40px;
}
.static-frame{
    top: 40%;
}
.static-frame1{
    margin-top:-2px;
}
.static-frame2{
	margin-top:20px;
	 width:550px;
}
.validation{
	border:none;
	color:#f54667;
}
.select_w{
	width:70px;
}